* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

/* body {

} */
.App {
  width: 400px;
  margin: 30px auto;
  border-radius: 5px;
}

header {
  margin-bottom: 15px;
}

.contenedor-parteSuperior {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.contenedor-parteSuperior > span {
  font-size: 18px;
}
.contenedor-parteSuperior .contenedor-colortheme {
  display: flex;
  align-items: center;
}
.contenedor-parteSuperior .contenedor-colortheme span {
  font-size: 11px;
}
.contenedor-parteSuperior .contenedor-colortheme .colortheme {
  margin-left: 10px;
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 25px;
  width: 50px;
  justify-content: space-evenly;
  /*             .desactive {

              }    */
}
.contenedor-parteSuperior .contenedor-colortheme .colortheme span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}
.contenedor-parteSuperior .contenedor-colortheme .colortheme .desactived {
  background-color: transparent !important;
}

.resultado {
  height: 75px;
  padding: 18px;
  border-radius: 5px;
  text-align: end;
}

.contenedor-botones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 16px;
  padding: 18px;
  border-radius: 7px;
}
.contenedor-botones div {
  height: 48px;
  font-size: 15px;
  /*         box-shadow: inset 0px -4px 1px #888; */
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.contenedor-botones .reset {
  grid-column: 1/3;
}
.contenedor-botones .igual {
  grid-column: 3/5;
}

.body {
  background-color: #3a4764;
}

.pad_toggle {
  background-color: #232c43;
}

.resultado_azul {
  background-color: #182034;
}

.del_reset {
  background-color: #637097;
}

.del_reset_shadow {
  box-shadow: inset 0 -4px 1px #404e72;
}

.bg_numbers {
  background-color: #eae3dc;
}

.bg_numbers_shadow {
  box-shadow: inset 0 -4px 1px #b4a597;
}

.igual_toggle {
  background-color: #d03f2f;
}

.igual_toggle_shadow {
  box-shadow: inset 0 -4px 1px #93261a;
}

.color_numbers {
  color: #444b5a;
}

.other_color {
  color: white;
}

.color_header {
  color: white;
}

.body_W {
  background-color: #e6e6e6;
}

.pad_toggle_W {
  background-color: #d1cccc;
}

.resultado_W {
  background-color: #ededed;
}

.del_reset_W {
  background-color: #377f86;
}

.del_reset_shadow_W {
  box-shadow: inset 0 -4px 1px #1b5f65;
}

.bg_numbers_W {
  background-color: #e5e4e1;
}

.bg_numbers_shadow_W {
  box-shadow: inset 0 -4px 1px #a69d91;
}

.igual_toggle_W {
  background-color: #ca5502;
}

.igual_toggle_shadow_W {
  box-shadow: inset 0 -4px 1px #893901;
}

.color_numbers_W {
  color: #35352c;
}

.other_color_W {
  color: white;
}

.color_header_W {
  color: #35352c;
}

.body_V {
  background-color: #160628;
}

.pad_toggle_V {
  background-color: #1d0934;
}

.resultado_V {
  background-color: #1d0934;
}

.del_reset_V {
  background-color: #58077d;
}

.del_reset_shadow_V {
  box-shadow: inset 0 -4px 1px #bc15f4;
}

.bg_numbers_V {
  background-color: #341c4f;
}

.bg_numbers_shadow_V {
  box-shadow: inset 0 -4px 1px #871c9c;
}

.igual_toggle_V {
  background-color: #00e0d1;
}

.igual_toggle_shadow_V {
  box-shadow: inset 0 -4px 1px #6cf9f2;
}

.color_numbers_V {
  color: #ffe53d;
}

.other_color_V {
  color: white;
}

.color_header_V {
  color: #ffe53d;
}

@media (max-width: 450px) {
  header {
    margin-bottom: 20px;
  }

  .contenedor-parteSuperior {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
  }
  .contenedor-parteSuperior > span {
    font-size: 23px;
  }
  .contenedor-parteSuperior .contenedor-colortheme {
    display: flex;
    align-items: center;
  }
  .contenedor-parteSuperior .contenedor-colortheme span {
    font-size: 12px;
  }
  .contenedor-parteSuperior .contenedor-colortheme .colortheme {
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 25px;
    width: 50px;
    justify-content: space-evenly;
    /*             .desactive {

                }    */
  }
  .contenedor-parteSuperior .contenedor-colortheme .colortheme span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
  }
  .contenedor-parteSuperior .contenedor-colortheme .colortheme .desactived {
    background-color: transparent !important;
  }

  .App {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 5px;
  }

  .contenedor-botones {
    gap: 10px;
  }
  .contenedor-botones div {
    font-size: 12px;
  }
}

/*# sourceMappingURL=App.css.map */
